*{
    margin: 0;
    /* padding: 0; */
}
.heading{
    height: 40px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(to right, red,green 35%,yellow);
}
.unordered{
    border: 5px solid red;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: 10px;
    margin-left: 25%;
    background-color: rgb(167, 207, 224);
}
.container{
    border:3px solid green;
    border-radius: 10px;
    width: 99%;
    display: flex ;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    background-color: aquamarine;
}
 p{
    border: 2px solid rgb(93, 223, 93) ;
    border-radius: 10px;
    width: 28%;
    margin: 0px 20px;
    padding:10px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    background-color: aqua;
}
.top{
    height: 40px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    background-image: linear-gradient(to right, red,yellow,red );
    font-size: 8px;
    margin-top: 10px;

}
.container1{
    border: 2px solid blue;
    background-image: linear-gradient(to left,rgb(144, 224, 144), blue,rgb(148, 228, 148));
    margin-top: 40px;
    height: 300px;
}
.box{
    display: flex;
    position: relative;
    margin:50px;
    

}
.items{
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgb(221, 221, 47);
    color: rgb(167, 66, 66);
    margin: auto;
    line-height: 60px;
    width: 20%;
    height: 200px;
    text-align: center;
    text-decoration: brown underline;
    font-weight: 900;
    font-size: 20px;
    

}
.box2{
    text-align: center;
    background-color: rgb(230, 46, 46);
    color: white;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    
}
.grid{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 150px;
}
 .grid1{
        margin: 10px;
        color: white;
        font-size: 20px;
        font-weight: 800;
        padding: 5px 20px;
        background-color: rgb(9, 238, 9);
    }
 .grid2{
        margin: 10px;
        color: white;
        font-size: 20px;
        font-weight: 900;
        padding: 5px 20px;
        background-color: blue;
    }
 .grid3{
        margin: 10px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 15px;
        background-color: navy;
    }
    .side{
        box-align: 10px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 20px;
        background-color: black;
        grid-row: span 2;
    }
    .last{
        margin: 10px;
        color: white;
        font-size: 20px;
        font-weight: 900;
        padding: 5px 20px;
        background-color: rgb(202, 146, 40);
        grid-column: 1 / span 3; 
    }
    .footer{
        margin: 10px;
    text-align: center;
    background-color: aqua;
    font-size: 15px;

    }